*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-image: url("./images/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo img{
    width: 43px;
    border-radius: 50%;
}

.slidebar{
    float: left;
    background: rgba(255, 255, 255, 0.2);
    height: 100vh;
    width: 270px;
    backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}

.logo{
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}

.logo h2{
    font-weight: 600;
    font-size: 1.15rem;
    margin-left: 15px;
}

.links{
    margin-top: 20px;
    list-style: none;
    width: 150px;
}

.links li{
    display: flex;
    margin: 30px auto;
    align-items: center;
}

.links li a{
    padding: 5px;
    color: #000;
    text-decoration: none;
    font-weight: 520;
    white-space: nowrap;
}

.links h4{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
}

.links img{
    padding: 12px 10px 12px 0px;
    width: 30px;
}

.links a:hover{
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.img{
    padding-left: 10px;
}

.box{
    float: right;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card{
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(17px);
    background: rgba(255, 255, 255, 0.2);
    width: 600px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.img1 img{
    width: 50px;
    border-radius: 50%;
    font-weight: bold;
}

.card h2{
    font-size: 35px;
}

a{
    text-decoration: none;
    color: #000;
}
 @media screen and (max-width:1000px) {
    .box{
        width: 650px;
    }

    .card{
        margin-right: 55px;
    }

    .slidebar{
        width: 200px;
    }
}

@media screen and (max-width:800px) {
    .box{
        width: 500px;
    }    

    .card{
        margin-right: 40px;
    }
}

@media screen and (max-width:715px) {
    *{
        font-size: 10px;
    }

    .slidebar{
        width: 40%;
        height: 100%;
    }

    .box{
        width: 59%;
        height: 100%;
    }

    .card{
        margin: 0;
    }

    .box .card h2{
        font-size: 12px;
    }

    .img img{
        width: 25px;
    }

    .links li{
        margin-left: 12px;
    }
    .slidebar h4{
        font-size: 10px;
        margin-left: 25px;
    }
}

