*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url("./../images/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
    color: #000;
}

.logo img{
    width: 43px;
    border-radius: 50%;
}

.slidebar{
    float: left;
    background: rgba(255, 255, 255, 0.2);
    height: 100vh;
    width: 270px;
    backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}

.logo{
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}

.logo h2{
    font-weight: 600;
    font-size: 1.15rem;
    margin-left: 15px;
}

.links{
    margin-top: 20px;
    list-style: none;
    width: 150px;
}

.links li{
    display: flex;
    margin: 30px auto;
    align-items: center;
}

.links li a{
    padding: 5px;
    color: #000;
    text-decoration: none;
    font-weight: 520;
    white-space: nowrap;
    transition: 0.2s ease;
}

.links h4{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
}

.links img{
    padding: 12px 10px 12px 0px;
    width: 30px;
}

.links li a:hover{
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.img{
    padding-left: 10px;
}

.box{
    float: right;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cardb{
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(17px);
    background: rgba(255, 255, 255, 0.2);
    width: 600px;
    height: 400px;
    border-radius: 5px;
}

.img1 img{
    width: 50px;
    border-radius: 50%;
    font-weight: bold;
}

.cardb h2{
    font-size: 35px;
}

.chapter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px; 
}

.logob{   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin-top: 20px;
}

button{
    background: rgba(255, 255, 255, 0.612);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 12px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 17px;
    transition: 0.2s cubic-bezier(0.4, 0, 1, 1);;
}


button:hover{
    background-color: #ffffff;
}

.logob{
    margin-top: 50px;
}

@media screen and (min-width:860px) {
    .ques{
        margin-top: 10px;
    }
    .logob{
        margin-top: 80px;
    }
}

@media screen and (max-width:1080px) {
    .box{
        width: 660px;
    }
}

@media screen and (max-width:1000px) {
    .box{
        width: 650px;
    }

    .card{
        margin-right: 55px;
    }

    .slidebar{
        width: 200px;
    }
}

@media screen and (max-width:800px) {
    .box{
        width: 500px;
    }    

    .card{
        margin-right: 40px;
    }
}

@media screen and (max-width:858px) {
    
    .cardb{
        width: 200px;
        height: 250px;
        margin-left: 10px;
    }

    .cardb h2{
        font-size: 11px;
    }

    .chapter{
        margin-left: 20px;
        margin-right: 20px;
        gap: 10px;
    }

    .cardb .chapter button{
        font-size: 6px;
        padding: 6px;
    }

    *{
        font-size: 10px;
    }

    .slidebar{
        width: 35%;
        height: 100%;
    }

    .box{
        width: 64%;
        height: 100%;
    }

    .card{
        margin: 0;
    }

    .box .card h2{
        font-size: 12px;
    }

    .img img{
        width: 25px;
    }

    .links li{
        margin-left: 18px;
    }
    .slidebar h4{
        font-size: 10px;
        margin-left: 25px;
    }


    button{
        padding: 10px;
    }
}